/*GENERALES*/
body{
    background: #414141;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border: 3px solid black;
    border-collapse: collapse;
    background: #747272;
}
.tituloGeneral{
    font-size: 55px;
    background: #FFC300;
    box-shadow: 10px 10px 60px #ffc300;
    border-radius: 68px;
    padding: 15px;
    font-family: arial;
}
th, td{
    border: 1px solid black;
}

/*Cabecera*/
.imgLogo{
    float: left;
    width: 250px;
}
.cabecera{
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    width: 96%;
    margin: 0 auto;
    margin-top: 3%;
}
.loginRegisterVender{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    width: 10%;
}
.btnlrv{
    width: 100%;
    height: 20%;
    text-decoration: none;
    color: black;
    background: #FFC300;    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A07C00;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #666;
    font-family: arial;
}
.btnlrv:hover{
    cursor: pointer;
    background: #A07C00;   
    color: white;
    border: 1px solid whitesmoke;
}
.btnRegisterVender{
    margin-top: 15%;
}



/*CONTENIDO GENERAL*/
.content{    
    margin-top: 3%;
    background: #D1A100;
    border: 5px solid #A07C00;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
}
/*TETRAEDRO*/
h2{
    text-align:center;
    color:#666;
    font-family:Helvetica;
  }
  div.espacio3D {
    width: 200px;
    height: 200px;
    margin: 5em auto 0 auto;
    /*border: 1px solid rgba(0,255,0,0.5);*/
    position: relative;
    perspective-origin: center -50%; /*punto desde donde se coloca la cÃ¡mara*/
    perspective: 500px; /*area de distorsion de figura*/
    transform: scale(0.90); /* tamaÃ±o de cubo */
    margin-bottom: 200px;
  }
  
  div.cubo3D {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;/* indica la perspectiva*/
    transform: translateZ(-10px);
    animation-name: gira;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
  }
  aside.triangulo {
       width: 0;
       height: 0;
       position: absolute;  
  }
  
  
  aside.cara2 { /* centro */
    transform:  rotateY(120deg) translateZ(0px) translateY(0px) rotateX(35deg);
    border-right: 150px solid transparent;
       border-top: 150px solid transparent;
       border-left: 150px solid transparent;
       border-bottom: 150px solid rgba(15,115,145,0.45);
  }
  
  aside.cara3 { /* Izquierda */
    transform:  rotateY(-120deg) translateZ(0px) translateY(0px) rotateX(35deg);
    border-right: 150px solid transparent;
       border-top: 150px solid transparent;
       border-left: 150px solid transparent;
       border-bottom: 150px solid rgba(96,16,142,0.45);
  }
  
  aside.cara4 { /* derecha */
    transform:   rotateY(0deg) translateZ(0px) translateY(0px) rotateX(35deg);
    border-right: 150px solid transparent;
       border-top: 150px solid transparent;
       border-left: 150px solid transparent;
       border-bottom: 150px solid rgba(226,207,32,0.45);
  }
  
  
  @keyframes gira {
    0% {
      transform: translateZ(-100px) rotateY(0deg);
    }
    100% {
      transform: translateZ(-100px) rotateY(360deg);
    }
  }
/*PIE DE PAGINA*/
.pie{
    width: 100%;
}
.divPie{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pie a{
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    font-family: cursive;
    border: 1px solid #414141;
    width: 15%;
    font-family: arial;
    color: whitesmoke;
}
.pie a:hover{
    background: #FFC300;
    box-shadow: 10px 10px 60px #ffc300;
    color: black;
    border: 1px solid grey;
    border-radius: 15px;
    cursor: pointer;
}

